:root{ /*Custom properties:*/
    --blanco: #ffffff;
    --oscuro: #183a57;
    --primario: #bec799;

}
html{
    font-size: 62.5%;
}
body{
    font-size: 16px;
    
}
.tituloPrincipal{
    text-align: center;
    font-size: 3rem;
    color: var(--oscuro);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.subtitulo{
    text-align: center;
    font-size: 1.5rem;
    color: var(--oscuro);
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.barraPrincipal{
    background-color: var(--primario);
    
}

.contenedor{
    width: 120rem;
    margin: 0 auto;
}

.primerContenedor div{
    display: block;
    width: 120rem;
    margin: 0 auto;
}

header {
    text-align: center; /* Centra texto dentro del header */
    padding: 2rem; /* Añade espacio alrededor del contenido */
}

.primerContenedor {
    display: flex; /* Usa flexbox para organizar elementos */
    justify-content: center; /* Centra elementos horizontalmente */
    align-items:baseline; /* Centra elementos verticalmente */
    gap: 1rem; /* Espaciado entre elementos */
    flex-wrap: wrap; /* Permite que los elementos se envuelvan en líneas adicionales */
}

.tituloPrincipal {
    font-size: 1.5rem;
    font-weight: bold;
    margin: 0;
    text-align: center;
}

.subtitulo {
    margin-top: 1rem;
}

.subtitulo h3 {
    font-size: 1.2rem;
    margin: 0;
}


.navBG{
    background-color: var(--primario);
    display: flex;
    
}

.cambio {
    display: inline-block;
    margin: 0 auto;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 3rem;
    justify-content: space-between; /* Justifica el texto */
}

.cambio svg {
    display: block; /* Asegura que las imágenes se comporten como bloques */
    margin: 1rem auto; /* Centra las imágenes */
    max-width: 100%; /* Evita que excedan el ancho del contenedor */
    height: auto; /* Mantiene la proporción de las imágenes */
}