# ====== ENV ======
ParteAdmin/Clases/.env
.env

# ====== Uploads ======
ParteAdmin/Uploads/

# ====== Dependencias ======
/vendor/

# ====== Composer ======
composer.phar
composer.lock

# ====== IDE / SO =====
.vscode/
.idea/
.DS_Store
Thumbs.db

# ====== Logs ======
*.log
