body{
    font-size: 12px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background:rgba(248, 248, 255, 0.466);
}

.ContenedorSubida{
    display: flex;
    gap: 1rem;
    padding-left: 3%;
    align-items: center;
    align-self: center;
    align-content: center;
}

.ContenedorSeccion{
    display: flex;
    gap: 3rem;
    padding: 2em 2em;
}

.ContSecc2{
    background:rgba(221, 209, 209, 0.466);
}

.Pill--selected{
    font-size: 0.7em;
    padding: 0.5em 1em;
    margin: 0.255rem;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #862a2a;
    color: #ffffff;
}