.ContenedorSeccion{
    display: flex;
    gap: 3rem;
}

.ContSecc2{
    background: #f5cfcf;
}

.Pill--selected{
    font-size: 0.7em;
    padding: 0.5em 1em;
    margin: 0.255rem;
    border-radius: 1em;
    border: none;
    outline: none;
    background: #009578;
    color: #ffffff;
}