body{
    margin: 0;
    padding: 0;

}

.material-icons-outlined{
    vertical-align: middle;
    line-height: 1px;
    font-size: 3px;
}

.grid-container{
    display: grid;
    grid-template-columns: 60px 1fr 1fr 1fr;
    grid-template-rows: 0.1fr 3fr;
    grid-template-areas: 
        "sidebar header header header"
        "main main main main";
    height: 100vh;
}


/*-Header-*/

.header{
    grid-area: header;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 30px 0px;
    box-shadow: 0 6px 7px -3px rgba(45, 1, 1, 0.808);
    background-color: #263043;
}


/*--Sidebar--*/

#sidebar{
    grid-area: sidebar;
    height: 100%;
    background-color: #263043;
    /*overflow-y: auto;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;*/
}


/*-- MAIN --*/

.main-container{
    grid-area: main;
    padding: 20px 20px;
    background-color: azure;
    overflow-y: auto;
}

.main-title{
    display: flex;
    justify-content:center;
    padding: 20px;
}

.main-cards{
    display: grid;
    grid-template-columns:  1fr 1fr 1fr;
    place-items: center;
    gap: 2px;
    margin: 20px 2px;
}


.card{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding: 30px;
    border-radius: 10px;
    transition: all 0.3s;
}

.card:hover{
    transform: scale(1.05);

}


.card:first-child{
    background-color: rgb(116, 151, 140);
}

.card:nth-child(2){
    background-color: rgb(184, 119, 246);
}


.card:nth-child(3){
    background-color:bisque;
}

.card-inner{
    display: flex;
    align-items: center;
    justify-content: space-between;
}